body {
  color: #4f5565;
  font-family: sans-serif;
  width: 320px;
  height: 300px;
  margin: 20px auto;
  background: #f2dca2;
  font-weight: bold;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

video {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 270px;
}

input {
  width: 190px;
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 4px;
  border-radius: 50px;
  border: 5px solid #f8b517;
  font-weight: bold;
  color: #4f5565;
  background-color: transparent;
  display: inline;
}

#original-currency,
#currency {
  width: 290px;
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
  padding: 4px;
  border-radius: 50px;
  border: none;
  border: 5px solid #f8b517;
  font-weight: bold;
  color: #4f5565;
  background-color: transparent;
}

#original-currency {
  width: 80px;
}

.result {
  font-size: 20px;
  width: 280px;
  text-align: center;
  margin-bottom: 10px;
  font-weight: bold;
}

.error {
  color: red;
  display: none;
  width: 280px;
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
}

.pending {
  display: none;
  margin-top: 30px;
  margin-bottom: 10px;
}

/* button effects */

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 5px;
}

#convert,
#swap,
.popular-currency-button {
  font-size: 25px;
  width: 220px;
  display: inline-block;
  color: #4f5565;
  --c: #f8b517; /* the color*/
  cursor: pointer;
  padding: 0.3em 0.7em;
  font-weight: bold;
  border: none;
  border-radius: 50px;
  box-shadow: 0 0 0 0.2em inset var(--c);
  --_g: linear-gradient(var(--c) 0 0) no-repeat;
  background: var(--_g) calc(var(--_p, 0%) - 100%) 0%,
    var(--_g) calc(200% - var(--_p, 0%)) 0%,
    var(--_g) calc(var(--_p, 0%) - 100%) 100%,
    var(--_g) calc(200% - var(--_p, 0%)) 100%;
  background-size: 50.5% calc(var(--_p, 0%) / 2 + 0.5%);
  outline-offset: 0.1em;
  transition: background-size 0.4s, background-position 0s 0.4s;
}
button:hover {
  --_p: 100%;
  transition: background-position 0.4s, background-size 0s;
}
button:active {
  box-shadow: 0 0 9e9Q inset #0009;
  background-color: var(--c);
}

#swap {
  width: 60px;
}

.popular-currency-button {
  width: 150px;
  font-size: 15px;
  padding: 6px;
  margin-bottom: 5px;
}

.popular-container {
  margin: 20px auto 10px 8px;
}

.time {
  font-size: 15px;
}

.popular {
  text-align: center;
  margin: 10px auto;
  font-size: 15px;
}

/* .dot-elastic */
.dot-elastic {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #f8b517;
  color: #f8b517;
  animation: dot-elastic 1s infinite linear;
}
.dot-elastic::before,
.dot-elastic::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
}
.dot-elastic::before {
  left: -15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #f8b517;
  color: #f8b517;
  animation: dot-elastic-before 1s infinite linear;
}
.dot-elastic::after {
  left: 15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #f8b517;
  color: #f8b517;
  animation: dot-elastic-after 1s infinite linear;
}

@keyframes dot-elastic-before {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1, 1.5);
  }
  50% {
    transform: scale(1, 0.67);
  }
  75% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes dot-elastic {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1, 1.5);
  }
  75% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes dot-elastic-after {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1, 0.67);
  }
  75% {
    transform: scale(1, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
